.width1200{
    height: 100%;
    position: relative;
}

.container{
    background: url("../images/bg.jpg") no-repeat center/cover;
}
.logo{
    width: 100%;
    position: absolute;
    top:30px;
    left:30px;
}
.logo-title{
    position: absolute;
    top:0;
    left:70px;
}
.logo-title h2{
    color: #fefefe;
    font-size: 26px;
}
.logo-title h3{
    color: #fefefe;
    font-size: 13px;
}
.sign-up{
    width: 478px;
    position: absolute;
    top:50%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ffffff;
}
.sign-up form{
    width: 357px;
    margin: 0 auto;
}
.login{
    left: 650px;
    height:362px;
    margin-top: -181px;
    padding-top: 20px;
}
.register{
    height: 484px;
    margin-top: -242px;
    padding-top: 10px;
    margin-left: 650px;
    display: none;
}
.container-content{
    width: 478px;
    margin-right: 50px;
    float: right;
}
.sign-content{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    position: relative;
    display: table;
}
.sign-content label{
    width: 40px;
    height: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background: #3268d2;
}
.sign-content input,
.drop-down{
    width: 320px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border:1px solid #e0e0e0;
    border-left:0;
    -webkit-box-shadow: 2px 0 5px rgba(0,0,0,0.04);
    -moz-box-shadow:  2px 0 5px rgba(0,0,0,0.04);
    box-shadow:  2px 0 5px rgba(0,0,0,0.04);
    color: #666666;
    font-size: 14px;
}

.sign-content p{
    position: absolute;
    top: 43px;
    left: 55px;
}

.remove{
    width: 20px;
    height: 20px;
    position: absolute;
    top:10px;
    right: 10px;
    cursor: pointer;
    background: url("../images/close.png") no-repeat;
}
.sign-btn{
    width: 100%;
    height: 40px;
    margin-top: 60px;
    text-align: center;
}
.sign-btn input{
    width: 100%;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    background: -webkit-linear-gradient(#0085f5, #249bff);
    background: -o-linear-gradient(#0085f5, #249bff);
    background: -moz-linear-gradient(#0085f5, #249bff);
    background: linear-gradient(#0085f5, #249bff);
}
.switch{
    margin-top: 6px;
    color: #3269d0;
    font-size: 14px;
}
.register .sign-content{
    margin-top: 30px;
}
.register .sign-btn{
    margin-top: 40px;
}
.drop-down{
    position: relative;
    padding-left: 0;
}
.drop-down .select-box{
    width: 100%;
    padding-left: 15px;
}
.drop-down .select-box:after{
    height: 38px;
    right: 30px;
}
.drop-down .select-show{
    height: 38px;
    padding-left: 0;
    line-height: 38px;
    border: 0;
    position: relative;
}
.drop-down .select-show:after{
    top: 15px;
    right: 9px;
}
.drop-down .select-option{
    top:38px;
    left: 1px;
}

.drop-down .easyui-combobox{
    padding-left: 15px;
    color: #666666;
    width:310px;
    height: 38px;
}

.login .login-error-hint-username, .error-hint-password{
    color: #ff0000;
    margin: 0px;
    display: none;
}

.register .register-error-hint-username, .error-hint-name, .register-error-hint-password, .error-hint-confirmPassword{
    color: #ff0000;
    margin: 0px;
    display: none;
}

.sign-up .choose .textbox{
    width: 320px!important;
    height: 38px;
    margin-top: -4px;
    border: 0;
    border-right: 1px solid #e0e0e0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.sign-up .choose .textbox .textbox-text{
    height: 38px!important;
    line-height: 38px!important;
    padding: 0 4px 0 15px;
}

.sign-up .sign-content .textbox .textbox-text{
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.panel-body{
    border-color: #e0e0e0!important;
}

.combobox-item{
    padding: 6px 0 6px 15px!important;
}

.choose{
    margin-left: 0;
}

.choose .combo-arrow, .drop-down .combo-arrow{
    margin-top: 7px
}

.choose drop-down{
    width: 100px;
}