.system-table{
    width: 100%;
    text-align: center;
}
.system .datagrid-body,
.datagrid .datagrid-pager{
    border: 1px solid #e0e0e0;
    border-top: 0;
}
.system .datagrid-body{
    border-bottom: 0;
}
.datagrid .panel-body{
    border: 0;
}
.datagrid-header{
    background: url('../images/nav-bg.jpg') repeat-x;
    background-size: 100% 40px;
}
.datagrid-header td{
    color: #ffffff;
    border: 0;
}
.textbox{
    width: 90%!important;
}
.system-btn{
    width: 46px;
    height: 28px;
    margin: 0 auto;
    line-height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    background: url("../images/system-bg.jpg") repeat-x;
}
.result{
    width: 21px;
    height: 21px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    background: url("../images/check.png") no-repeat;
}
.result-action{
    background: url("../images/checked.png") no-repeat;
}
.arrow{
    position: absolute;
    top:4px;
}
.prev{
    left:0;
}
.next{
    right: 0;
}
.number{
    margin-left: 10px;
    line-height: 22px;
    font-size: 12px;
}
.dialog{
    width: 130px;
    height: 40px;
    margin: -20px 0 0 -65px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    background: rgba(0,0,0,0.6);
}
.dialog-save,
.dialog-reset{
    display: none;
}
.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 90;
    background: rgba(0,0,0,0.5);
    display: none;
}
.message{
    width: 418px;
    height: 312px;
    margin: -156px 0 0 -209px;
    position: fixed;
    top:50%;
    left:50%;
    z-index: 99;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    display: none;
}
.message-content{
    width: 358px;
    margin: 15px auto 0 auto;
}
.message-content .sign-content{
    margin-top: 0;
    margin-bottom: 20px;
    position: relative;
}
.message-content .sign-content label{
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    text-align: center;
    background: url("../images/btn-bg.jpg") repeat-x;
}
.message-content .sign-content label img{
    margin-top: 6px;
}
.message-content .sign-content input{
    width: 317px;
    padding: 0 15px;
    line-height: 38px;
    border: 1px solid #e0e0e0;
    border-left: 0;
}
.message-content .sign-content .remove{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url("../images/close.png") no-repeat center/cover;
}
.message-txt{
    margin-bottom: 40px;
    padding-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.message-txt h2{
    font-size: 16px;
}

.close-dialog-box {
    width: 18px;
    height: 18px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 0;
    background: url("../images/cancel.png") no-repeat;
}

.set input{
    width: 170px;
    height: 40px;
    margin-top: 20px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.set input.button-confirm{
    background: url(../images/btn-bg.jpg) repeat-x;
}

.set input.button-cancel{
    background: #d8d8d8;
}

.top-info .quit-button{
    width: 53px;
    margin: 16px 0 0 20px;
    padding-left: 12px;
    color: #ffffff;
    background: url('../images/icon-quit.png') no-repeat left;
}

.top-info #exit{
    color: #ffffff;
}