<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.pingchuan.weather.Mapper.DepartmentMapper">

    <select id="findOneById" resultType="com.pingchuan.weather.entity.Department">
        SELECT DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county FROM Department where DepartID = #{departId}
    </select>

    <select id="findAll" resultType="com.pingchuan.weather.entity.Department">
        SELECT DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county FROM Department;
    </select>

    <select id="findAllCity" resultType="com.pingchuan.weather.entity.Department">
        SELECT DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county FROM Department where Property = 2;
    </select>

    <select id="findAllByParentId" resultType="com.pingchuan.weather.entity.Department">
        SELECT  DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county FROM Department where ParentDepartID = #{parentId}
    </select>
    
</mapper>