<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingchuan.weather.mapper.DepartmentMapper">
    <!-- 查询所有的市级单位 -->
    <select id="findAllCity" resultType="com.pingchuan.weather.entity.Department">
        SELECT DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county
        FROM Department
        where Property = 2;
    </select>
    <!--根据父单位Id查询子单位-->
    <select id="findAllByParentId" resultType="com.pingchuan.weather.entity.Department">
        SELECT  DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county
        FROM Department
        where ParentDepartID = #{parentId}
    </select>
    <!-- 根据单位Id查询单位 -->
    <select id="findOneById" resultType="com.pingchuan.weather.entity.Department">
        SELECT DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county
        FROM Department
        where DepartID = #{departId}
    </select>
    <!-- 查询所有的单位 -->
    <select id="findAll" resultType="com.pingchuan.weather.entity.Department">
        SELECT DepartID as departId, DepartName as departName, ParentDepartID as parentDepartId, County as county FROM Department;
    </select>

</mapper>