<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingchuan.weather.mapper.StationMapper">
    <!-- 获取父站点 -->
    <select id="findParentStations" resultType="Station">
	   select StationName as stationName, StationCode stationCode, DepartmentID as departmentId
       from Station
       where County is null or RTRIM(LTRIM(County)) = ''
    </select>

    <!-- 根据departmentId获取站点 -->
    <select id="findStationByDepartmentId" resultType="Station">
       select StationName as stationName, StationCode stationCode, DepartmentID as departmentId, County
       from Station
	   where (County is not null or County != '') and DepartmentID = #{departmentId}
    </select>
</mapper>