<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.pingchuan.weather.Mapper.UserMapper">

    <select id="findAllByPage" resultType="com.pingchuan.weather.entity.User">
        SELECT
            Id AS id,
            Name AS name,
            DepartId AS departId,
            LoginName AS loginName,
            LoginPwd AS loginPwd,
            State AS state,
            DepartName AS departName
        FROM
            [User] u
            LEFT JOIN Department d ON u.DepartmentId = d.DepartID
        WHERE
            Id BETWEEN #{page}
            AND #{rows}
    </select>
    <select id="findCount" resultType="int">
        SELECT
            count(*)
        FROM
            [User] u
            LEFT JOIN Department d ON u.DepartmentId = d.DepartID
    </select>

</mapper>