<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pingchuan.weather.mapper.UserMapper">

    <select id="getUserByPage" resultType="User">
        SELECT U.Id id, U.Name name, D.DepartName departmentName, U.LoginName loginName, U.LoginPwd loginPwd, U.State state, U.PROVINCE province, U.CITY city, U.COUNTY county
        FROM(SELECT *, ROW_NUMBER() OVER( ORDER BY Id ASC) AS RowNumber FROM  [User] WHERE 1=1) AS U LEFT JOIN Department D ON U.DepartmentId = D.DepartID
        WHERE U.RowNumber > (#{pageSize} *(#{pageIndex}-1)) AND (#{pageSize} * #{pageIndex}) >= U.RowNumber
    </select>

    <select id="getUserTotalCount" resultType="int">
        SELECT COUNT(*) Number FROM [User] U  LEFT JOIN Department D ON U.DepartmentId = D.DepartID
    </select>

    <select id="findOneById" resultType="User">
        SELECT
            Id AS id,
            Name AS name,
            DepartId AS departId,
            LoginName AS loginName,
            LoginPwd AS loginPwd,
            State AS state,
            DepartName AS departName
        FROM
            [User]
        WHERE
            Id = #{userId}
    </select>

    <update id="updatePasswordById">
        UPDATE [User] SET LoginPwd = #{password} WHERE Id = #{userId}
    </update>

    <update id="updateDepartmentIdById">
        UPDATE [User] SET DepartmentId = #{departmentId} WHERE Id = #{userId}
    </update>

    <select id="findUserByLoginName" resultType="User">
        SELECT Id AS id, Name AS name, DepartmentId AS departId, LoginName AS loginName, LoginPwd AS loginPwd, State AS state
        FROM [User]
        WHERE LoginName = #{username}
    </select>

    <select id="userRegister" parameterType="User">
        INSERT INTO [User](Name, DepartmentId, LoginName, LoginPwd) VALUES (#{user.name}, #{user.departmentId}, #{user.loginName}, #{user.loginPwd})
    </select>
</mapper>