<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="com.pingchuan.weather.mapper.UserMapper">

    <select id="findAllByPage" resultType="com.pingchuan.weather.entity.User">
        SELECT
            Id AS id,
            Name AS name,
            DepartId AS departId,
            LoginName AS loginName,
            LoginPwd AS loginPwd,
            State AS state,
            DepartName AS departName
        FROM
            [User] u
            LEFT JOIN Department d ON u.DepartmentId = d.DepartID
        WHERE
            Id BETWEEN #{page}
            AND #{rows}
    </select>
    <select id="findCount" resultType="int">
        SELECT
            count(*)
        FROM
            [User] u
            LEFT JOIN Department d ON u.DepartmentId = d.DepartID
    </select>

    <select id="findOneById" resultType="com.pingchuan.weather.entity.User">
        SELECT
            Id AS id,
            Name AS name,
            DepartId AS departId,
            LoginName AS loginName,
            LoginPwd AS loginPwd,
            State AS state,
            DepartName AS departName
        FROM
            [User]
        WHERE
            Id = #{userId}
    </select>

    <update id="updatePassword">
        UPDATE [User]
        SET LoginPwd = #{password}
        WHERE
            Id = #{userId}
    </update>
    <update id="updateAll">
        UPDATE [User]
        SET DepartmentId = #{departId}
        WHERE
            Id = #{userId}
    </update>

    <!-- 用户登录 -->
    <select id="userLogin" resultType="com.pingchuan.weather.entity.User">
        SELECT * FROM [User] WHERE LoginName = #{loginName} AND LoginPwd = #{loginPwd}
    </select>
</mapper>